---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Projects from "../components/Projects.astro";
import Allies from "../components/Allies.astro";
import { ContactForm } from "../components/ContactForm.tsx";
import { Modal } from "../components/Modal.jsx";
---

<Layout title="TRK PUBLICIDAD">
  <main>
    <Hero />
    <About />
    <Services />
    <Projects />
    <Allies />
    <ContactForm client:only />
  </main>
</Layout>
