---

---

<div class="contenedor-amarillo">
  <footer>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 280">
      <path fill-opacity="1">
        <animate
          attributeName="d"
          dur="20000ms"
          repeatCount="indefinite"
          values="M0,160L48,181.3C96,203,192,245,288,261.3C384,277,480,267,576,234.7C672,203,768,149,864,117.3C960,85,1056,75,1152,90.7C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z; M0,160L48,181.3C96,203,192,245,288,234.7C384,224,480,160,576,133.3C672,107,768,117,864,138.7C960,160,1056,192,1152,197.3C1248,203,1344,181,1392,170.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z;												 M0,64L48,74.7C96,85,192,107,288,133.3C384,160,480,192,576,170.7C672,149,768,75,864,80C960,85,1056,171,1152,181.3C1248,192,1344,128,1392,96L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z;
                                             M0,160L48,181.3C96,203,192,245,288,261.3C384,277,480,267,576,234.7C672,203,768,149,864,117.3C960,85,1056,75,1152,90.7C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z;"
        ></animate>
      </path>
    </svg>

    <article class="trk-footer">
      <div class="container">
        <div class="form-footer">
          <h3>Contacto</h3>
          <form class="subscribe">
            <input type="email" name="email" placeholder="Direccion Email" />
            <a href="#contact">
              <i class="uil uil-telegram-alt"></i>
            </a>
          </form>
          <p>Contácta con nosotros para iniciar tus asesorias en publicidad.</p>
        </div>

        <div class="trk-list">
          <div>
            <h3>Acceso Rápido</h3>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="about.html">Nosotros</a></li>
              <li><a href="services.html">Servicios</a></li>
              <li><a href="#portafolio">Portafolio</a></li>
              <li><a href="contact.html">Contacto</a></li>
            </ul>
          </div>

          <div>
            <h3>Info</h3>
            <ul>
              <li>AV. Los Próceres #720, <br class="hidden" /> Lima, Perú</li>
              <li>
                <a href="tel:+01 963 834 127">963 834 127</a>
              </li>
              <li>
                <a href="mailto:administracion@trkpublicidad.com"
                  >administracion@<br class="hidden" />trkpublicidad.com</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div>
          <h3>Siguenos</h3>
          <ul class="social">
            <li>
              <a href="#facebook"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-facebook"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                  ></path><path
                    d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
                  ></path></svg
                ></a
              >
            </li>
            <li>
              <a href="#linkedin"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-linkedin"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
                  ></path>
                  <path d="M8 11l0 5"></path>
                  <path d="M8 8l0 .01"></path>
                  <path d="M12 16l0 -5"></path>
                  <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
                </svg></a
              >
            </li>
            <li>
              <a href="#tiktok"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-tiktok"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                  ></path><path
                    d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"
                  ></path></svg
                ></a
              >
            </li>
            <li>
              <a href="#whatsapp"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-whatsapp"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
                  <path
                    d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
                  ></path>
                </svg></a
              >
            </li>
            <li>
              <a href="#instagram"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-instagram"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                  ></path><path
                    d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                  ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
                  ></path><path d="M16.5 7.5l0 .01"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
    </article>

    <aside>
      <p>&copy; 2024 TRK PUBLICIDAD. Todos los derechos reservados.</p>
    </aside>
  </footer>
</div>

<style>
  .contenedor-amarillo {
    background-color: var(--fifth-color);
  }

  footer {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  footer aside {
    background-color: var(--footer-color);
    width: 100%;
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer aside p {
    margin: 2rem 0;
  }

  footer path {
    fill: var(--footer-color);
  }

  .trk-footer {
    background-color: var(--footer-color);
    width: 100%;
  }

  .container {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .trk-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }

  .trk-footer h3 {
    font-size: 1.5rem;
    line-height: 25px;
    margin-bottom: 2rem;
    font-weight: 800;
    color: var(--bg-color);
    position: relative;
  }

  .trk-footer h3:before {
    content: "";
    position: absolute;
    bottom: -6px;
    background: #fff;
    width: 48px;
    height: 1px;
  }

  .trk-footer p {
    color: var(--bg-color);
    font-size: 0.9rem;
    font-weight: 300;
  }

  .trk-list ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .trk-list li,
  .trk-list li a {
    font-size: 0.9rem;
    color: var(--bg-color);
    font-weight: 300;
    text-decoration: none;
    list-style: none;
    transition: 0.3s ease all;
  }

  .trk-list li a:hover {
    color: var(--third-color);
  }

  .social li {
    display: inline-block;
    margin-right: 5px;
  }

  .social li a {
    color: var(--bg-color);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin-right: 12px;
    font-size: 1.2rem;
    transition: 0.3s ease all;
  }

  .social li:last-child a {
    margin-right: 0px;
  }

  .social li a:hover {
    color: var(--third-color);
  }

  .trk-footer form {
    display: flex;
    margin-bottom: 1.3rem;
  }

  .trk-footer .subscribe input[type="email"] {
    background: var(--bg-color);
    border: none;
    padding: 12px 12px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: var(--heading-color);
    border-radius: 4px 0 0 4px;
    border: 1px solid var(--border-color-light);
  }

  .trk-footer .subscribe a {
    background: var(--third-color);
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 12px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 0 4px 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trk-footer .subscribe a:hover {
    background: var(--fourth-color);
  }

  @media screen and (max-width: 1190px) {
    .trk-footer .subscribe a {
      width: 30%;
    }
  }

  @media screen and (max-width: 1012px) {
    .form-footer {
      width: 100%;
    }
  }
  @media screen and (max-width: 640px) {
    .trk-footer .subscribe a {
      padding: 12px 10px;
    }

    .container {
      flex-direction: column;
    }
  }

  .hidden {
    display: none;
  }

  @media screen and (max-width: 440px) {
    .trk-footer .subscribe a {
      width: 20%;
    }

    .hidden {
      display: block;
    }
  }
</style>
